.privacy-policy-wrapper {
  padding: 64px;
  @media (max-width: 768px) {
    padding: 42px;
  }
  @media (max-width: 576px) {
    padding: 28px;
  }
  .privacy-policy-introduction {
    p {
      margin-top: 12px;
    }
  }
  .information-we-collect {
    h3 {
      margin-top: 32px;
    }
    p {
      margin-top: 16px;
    }
  }
}
