.header {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8px);
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
  padding: 32px 64px;
  transition: all 0.5s ease-in-out;
  @media (max-width: 600px) {
    justify-content: flex-start;
  }
  .menu-bar {
    cursor: pointer;
    transition: all 1s ease;

    @media (min-width: 600px) {
      display: none;
    }
  }
  .link {
    @media (max-width: 600px) {
      display: none;
    }
  }
  .active-color {
    transition: all 0.5s ease-in-out;
    background: radial-gradient(
        99.1% 203.74% at 99.1% 94.73%,
        #671c15 0%,
        #efd27f 48.11%,
        #b7581e 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .color {
    transition: all 0.5s ease-in-out;
    color: #fefcff;
  }
  .side-bar {
    position: absolute;
    height: 90vh;
    width: 95%;
    top: 0;
    left: 10px;
    background: #242132;
    z-index: 100;
    text-align: center;
    @media (min-width: 600px) {
      display: none;
    }
    .side-link {
      z-index: 4;
      text-align: center;
      padding: 20px;
    }
    .close {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 360px;
      z-index: 14;
    }
  }
}
