@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&family=Poppins:wght@400;500;600&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Audiowide", cursive;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #242132;
  color: #f5f5f5;
}

.mx {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Audiowide";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  color: #fefcff;
}
@media (max-width: 768px) {
  h1 {
    font-size: 72px;
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: 56px;
  }
}
@media (max-width: 420px) {
  h1 {
    font-size: 46px;
  }
}

h2 {
  font-family: "Audiowide";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #fefcff;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}
@media (max-width: 576px) {
  h3 {
    font-size: 22px;
  }
}
li {
  margin-top: 16px;
}

p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 36px;
  color: #aaaaaa;
}
@media (max-width: 576px) {
  p {
    font-size: 18px;
  }
}
.list-content {
  margin-left: 30px;
}
.list-content li {
  font-family: "Montserrat", sans-serif;
  color: #aaaaaa;
  font-size: 21px;
}
@media (max-width: 576px) {
  .list-content li {
    font-size: 18px;
  }
}
